.SearchBar-container {
    display: grid;
    grid-template-columns: auto 35% auto;
    grid-gap: 10px;
    padding: 10px;
    margin-top: 15px;
  }

.SearchBar{
    grid-column-start: 2;
    grid-column-end: 2;
}

.characters_list{
    display: inline-flex;   
}

.ShowMoreButton{
    grid-column-start: 2;
    grid-column-end: 2;
}